.circuitboard > svg.d3 {
  .nif.vertex > .core {
	pointer-events: visiblePainted;
  }

  .nif.vertex.direct {
	fill: blue;
	stroke: blue;
  }

  .nif.vertex.indirect {
	fill: transparent;
	stroke: darken(blue, 20);
  }

  .nif.edge {
	pointer-events: visiblePainted;
	cursor: pointer;
	stroke: blue;
	stroke-width: 3px;
	stroke-linecap: round;
  }
}
