.circuitboard > svg.d3 {
	.vascular.vertex > .core {
	    opacity: 0;
		pointer-events: visiblePainted;
		fill: lighten(red, 20);
		stroke: red;

		&.inter-tile {

		}
	}

	.vascular.edge {
	    visibility: hidden; // TODO: We're doing 3D tubes for now; Add svg back as an option!
		pointer-events: visiblePainted;
		cursor: pointer;
		stroke: red;
		stroke-width: 3px;
		stroke-linecap: round;
	}
}
