svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	text-rendering: geometricPrecision;

	.delta {
		overflow: visible;
		cursor: pointer;

		& > rect {
			fill: transparentize(white, .3);
			stroke: black;
			stroke-dasharray: 5, 5;
			stroke-width: 1.5px;
		}

		&.always {
			& > rect {
				fill: transparentize(lightgreen, .3);
			}
			& > text {
				font-weight: bold;
			}
		}

		&.resolution {
			& > rect {
				stroke: lightgray;
			}
			& > text {
				stroke: lightgray;
				font-style: italic;
			}
		}
	}

	.application-order {
		stroke: black;
		stroke-width: 1.5px;
		stroke-linecap: round;
		marker-end: url(#arrow-tip);

		&.resolution {
			stroke: lightgray;
			marker-end: url(#gray-arrow-tip);
		}
	}

}
